@inject IStudentRecordApiCommand studentRecordApi
@inject IJSRuntime JS
<input type="checkbox" id="my_modal_studentId_Assign" class="modal-toggle" />
<div class="modal" role="dialog">
    <div class="modal-box max-w-md rounded-md">
        <div class="flex justify-between">
            <div>
                <h3 class="text-2xl font-semibold text-gray-600 mb-1">Student ID Required</h3>
                <p class="text-gray-500 mb-6 text-light">Input your Student ID before continuing.</p>
            </div>
            <div class="w-12 rounded-full border-2 border-amber-500 shadow-lg hover:shadow-xl transition-all duration-300 bg-gradient-to-br from-amber-400 to-orange-500 p-0.5">
                <img alt="NEMSU Cantilan Student Services"
                src="/img/student_logo.jpg"
                class="w-full h-full rounded-full object-cover bg-white" />
            </div>
        </div>

        <div class="form-control mb-6">
            <label class="label">
                <span class="label-text font-light flex items-center gap-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2" />
                    </svg>
                    Student ID <span class="text-red-500">*</span>
                </span>
            </label>
            <input type="text"
            @bind="StudentId"
            placeholder="Enter your Student ID (e.g., 2024-12345)"
            class="input mt-1 input-bordered w-full focus:outline-none focus:ring-0 focus:ring-2 focus:ring-teal-500"
            required />
        </div>
        <div class="modal-action gap-2">
            <button @onclick="()=> HandlingStudentId()" class="btn bg-teal-600 hover:bg-teal-700 text-white border-none">Proceed to Enrollment</button>
        </div>
    </div>
</div>



@code{
    public string? StudentId { get; set; }

    [Parameter]
    public EventCallback reload { get; set; }
    public async Task HandlingStudentId()
    {
        await studentRecordApi.StudentSchoolIdAsync(StudentId!);
        await JS.InvokeVoidAsync("eval", "document.getElementById('my_modal_studentId_Assign').checked = false");
        await reload.InvokeAsync();
    }

}