@page "/profileinformation"


<div class="relative h-screen content overflow-hidden">
    <div class="drawer lg:drawer-open h-screen">
        <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content flex flex-col items-center justify-center">
            <!-- Page content here -->
            <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden">
                Open drawer
            </label>
        </div>
        <div class="drawer-side">
            <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
            <ul class="menu min-h-full w-62 p-4 text-white" style="background: radial-gradient(at 0% 0%, rgb(6, 182, 212) 0px, transparent 50%), radial-gradient(at 100% 100%, rgb(14, 116, 144) 0px, transparent 50%), radial-gradient(at 100% 0%, rgb(8, 145, 178) 0px, transparent 50%), radial-gradient(at 0% 100%, rgb(21, 94, 117) 0px, transparent 50%), rgb(17, 24, 39);">
                <!-- Sidebar content here -->
                <li class="mx-auto mb-4">
                    <div class="w-[92px] h-[92px] rounded-full border border-primary flex items-center justify-center overflow-hidden bg-white">
                        <img src="/img/student_logo.jpg" class="w-full h-full object-contain" />
                    </div>
                </li>
                <li><a class="text-white text-2xl font-light btn btn-outline btn-primary">Profile</a></li>


                <li class="mt-10"><a class="text-white text-md btn-[40%] font-semibold btn btn-outline btn-primary">Manage Profile</a></li>
                <li class="mt-2"><a class="text-white text-md btn-[40%] font-semibold btn btn-outline btn-primary">Settings</a></li>
                <li class="mt-2"><a class="text-white text-md btn-[40%] font-semibold btn btn-outline btn-primary">Logout</a></li>

                <li class="mt-10"><NavLink href="/enrollment" class="text-white text-md btn-[40%] font-semibold btn btn-outline btn-primary">Enrollment</NavLink></li>
                <li class="mt-2"><NavLink href="/announcement" class="text-white text-md btn-[40%] font-semibold btn btn-outline btn-primary">Announcements</NavLink></li>
                <li class="mt-2"><NavLink href="/enrolledcourse" class="text-white text-md btn-[40%] font-semibold btn btn-outline btn-primary">Enrolled Course</NavLink></li>
            </ul>
        </div>
    </div>
</div>



@code {

}
