<!DOCTYPE html>
<html lang="en" data-theme="clint" class="bg-gradient-to-b from-cyan-50 to-white">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="/css/site.min.css" asp-append-version="true" />
  <!--  <link rel="stylesheet" href="app.css" />-->
    <link rel="stylesheet" href="SYSTEM_INGTEGRATION_NEMSU.Client.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />

</head>

<body>
    <Routes />
     <component type="typeof(App)" render-mode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
